// Custom styles.
.post-button {
  margin-top: 5px;
  text-align: right;
}
.post-body {
  p {
    margin-bottom: 0;
  }
}
.posts-expand .post {
  margin-top: 0px;
}
div.collection-title h1 {
  margin-left: 20px;
}